.pageContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.block1{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10rem;
}
.thumb {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: whitesmoke;
}

.editIcon {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
}

.inputsContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.checkboxContainer{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.block1Buttons{
    display: flex;
    justify-content: space-between;
}
.emailsDiv{
    width: 100%;
    height: 20vh;
    border: 1px solid var(--ligth-gray);
    border-radius: 6px;
    margin-bottom: 1rem;
    overflow: auto;
}
.selectRoleDiv{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}

.selectField{
    height: 2.5rem;
    padding-left: 1rem;
}

.colaboratorsDiv {
    width: 25%;


}

.footerButtons{
    display: flex;
    margin-top: 30px;
    column-gap: 2rem;
    justify-content: flex-end;
}