.modalPannel{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: auto;
    backdrop-filter: blur(3px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

}
.modalContainer{
    width: 45%;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalHeader{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.closeModal{
    justify-self:flex-end;
    align-self: flex-end;
    cursor: pointer;
    margin-right: -30px;
    margin-top: -10px;
}

.modalContent{
    min-height: 80%;
    display: flex;
}
