.cardContainer{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid var(--ligth-gray);
}
.image{
    height: 75%;
    background-color: var(--ligth-gray);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.description{
    background-color: var(--main);
    height: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.descriptionCaption{
    display: flex;
    justify-content: space-between;
}
.iconLabel{
    display: flex;
    align-items: center;
    column-gap: 5px;

}
