.authContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.contentContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgContainer {
    width: 60%;
    height: 100%;
    background-image: url('../../public/image/logInBR.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.formHeader {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #471212; */
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo, .logoB{
    height: 80px;
    width: auto;
    max-width: 100%;
}