:root {
    --main: #BF3131;
    --main-hover:#ba5656;

    --black:#1d2129;
    --ligth-gray:#dddfe2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a{
    color: var(--black);
  }
  