.navContainer{
    height: 70px;
    width: 100vw;
    border:0.5px solid var(--ligth-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background-color: white;
    color: #be3434;
}
.logo{
    cursor: pointer;
}

.authLinks{
    display: flex;
    column-gap: 15px;
}


.auxBar{
    height: 20px;
    width: 100vw;
    background-color: #08263b;
}