.card{
    height: 210px;
    width: 160px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
}
.card:hover{
    background-color: whitesmoke;
}
.personThumb{
    height: 140px;
    width: 140px;
    border-radius: 70px;
    background-color: rgb(120, 120, 120);
}
.personName{
    display: flex;
    align-self: flex-start;
}